h1 {
  font-size: 1.2em;
  color: #581845;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  color: #7065FF;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #900C3F;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #FFC300;
}
nav a:hover {
  color: #900C3F;
  background-color: #FFC300;
}
nav a.active {
  color: #900C3F;
  background-color: #FFC300;
}
body{
  background-color: #FF5733; 
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/