<div *ngIf="hero">
  <h2>Les détails de {{hero.nom}}</h2>
  <div>
    <label>id: </label><a>{{hero.id}}</a></div>
  <div>
    <label>Nom: </label>
    <input [(ngModel)]="hero.nom" placeholder="Nom" />
    <label>Email: </label>
    <input [(ngModel)]="hero.mail" placeholder="Adresse email">
   </div>
  <button (click)="goBack()">Retour</button>
  <button (click)="save()">Sauvegarder</button>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->